In [1]:
import pandas as pd

df_personal=pd.read_csv(f'../data/results/df_results.csv')

In [2]:
print(df_personal.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8792 entries, 0 to 8791
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8792 non-null   int64
 1   Country     8792 non-null   object
 2   Job Title   8792 non-null   object
 3   Gender (1)  8792 non-null   object
 4   Quantity    8792 non-null   int64
 5   Percentage  8792 non-null   object
dtypes: int64(2), object(4)
memory usage: 2.5 MB
None

In [3]:
print(df_personal.nunique())

Unnamed: 0    8792
Country         28
Job Title      157
Gender (1)       2
Quantity        49
Percentage      28
dtype: int64

In [11]:
#for x in df_personal['country_code'].unique():
#    print (x)

import re
h=df_personal['Country'].unique().tolist()

country='UnitedKingdom'


if not isinstance(country, str):
    print('Error, please insert a correct Country')
else:
    if country not in h:
        country= country.lower()
        country= country.title()
        country = re.sub(r' ','',country)
        if country not in h:
            print('Error, please insert a correct Country')
        
        else:
            print(country + 'hola')
            print('good2')
    else:
        print(country)
        print('good')

UnitedKingdom
good

In [13]:
type(df_personal['Country'].unique())

numpy.ndarray

In [17]:
df_personal['Country'].value_counts()

Ireland          314
Denmark          314
UnitedKingdom    314
France           314
Portugal         314
Estonia          314
Lithuania        314
Hungary          314
Czechia          314
Italy            314
Austria          314
Slovakia         314
Germany          314
Cyprus           314
Croatia          314
Bulgaria         314
Luxembourg       314
Belgium          314
Poland           314
Latvia           314
Netherlands      314
Romania          314
Malta            314
Sweden           314
Spain            314
Finland          314
Greece           314
Slovenia         314
Name: Country, dtype: int64