In [1]:
import pandas as pd

df_final=pd.read_parquet(f'../data/processed/df_final.parquet')

In [60]:
import requests
from bs4 import BeautifulSoup
import re
url = 'https://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Country_codes'
html = requests.get(url).content
soup = BeautifulSoup(html, 'lxml')
table = soup.find_all('div', {'class':'mw-content-ltr'})[0]
rows = table.find_all('table')
rows_parsed = [row.text for row in rows]

rows_clean=[re.sub(r'\s','',x)for x in rows_parsed]
rows_clean=[re.sub(r'\*','',x)for x in rows_clean]
rows_clean=[re.sub(r'\[\d\]','',x)for x in rows_clean]
rows_clean=''.join(rows_clean)
rows_country=re.split(r'\(\w{0,7}\)',rows_clean)
rows_code=re.findall(r'\(\w{0,7}\)',rows_clean)
rows_code=[re.sub(r'\(|\)','',x)for x in rows_code]


dict_country=dict(zip(rows_code,rows_country))

print(dict_country)

{'BE': 'Belgium', 'EL': 'Greece', 'LT': 'Lithuania', 'PT': 'Portugal', 'BG': 'Bulgaria', 'ES': 'Spain', 'LU': 'Luxembourg', 'RO': 'Romania', 'CZ': 'Czechia', 'FR': 'France', 'HU': 'Hungary', 'SI': 'Slovenia', 'DK': 'Denmark', 'HR': 'Croatia', 'MT': 'Malta', 'SK': 'Slovakia', 'DE': 'Germany', 'IT': 'Italy', 'NL': 'Netherlands', 'FI': 'Finland', 'EE': 'Estonia', 'CY': 'Cyprus', 'AT': 'Austria', 'SE': 'Sweden', 'IE': 'Ireland', 'LV': 'Latvia', 'PL': 'Poland', 'UK': 'UnitedKingdom', 'IS': 'Iceland', 'NO': 'Norway', 'LI': 'Liechtenstein', 'CH': 'Switzerland', 'ME': 'Montenegro', 'MK': 'NorthMacedonia', 'AL': 'Albania', 'RS': 'Serbia', 'TR': 'Turkey', 'BA': 'BosniaandHerzegovina', 'XK': 'Kosovo', 'AM': 'Armenia', 'BY': 'Belarus', 'GE': 'Georgia', 'AZ': 'Azerbaijan', 'MD': 'Moldova', 'UA': 'Ukraine', 'DZ': 'Algeria', 'LB': 'Lebanon', 'SY': 'Syria', 'EG': 'Egypt', 'LY': 'Libya', 'TN': 'Tunisia', 'IL': 'Israel', 'MA': 'Morocco', 'JO': 'Jordan', 'PS': 'Palestine', 'RU': 'Russia', 'AR': 'Argentina', 'CN_X_HK': 'China(exceptHongKong)', 'MX': 'Mexico', 'ZA': 'SouthAfrica', 'AU': 'Australia', 'HK': 'HongKong', 'NG': 'Nigeria', 'KR': 'SouthKorea', 'BR': 'Brazil', 'IN': 'India', 'NZ': 'NewZealand', 'TW': 'Taiwan', 'CA': 'Canada', 'JP': 'Japan', 'SG': 'Singapore', 'US': 'UnitedStates'}

In [5]:
df_final['country_code'].value_counts()

DE    1420
FR    1248
GB    1199
IT    1138
ES    1005
PL     860
RO     332
NL     331
GR     225
HU     206
PT     202
CZ     189
BE     179
SE     175
BG     141
AT     133
DK     119
FI     113
SK      93
IE      90
HR      87
LT      50
LV      36
SI      28
EE      18
CY      13
LU      11
MT       8
Name: country_code, dtype: int64

In [ ]:
#GR, GB no estan

In [62]:
df_final['Country']= ''

for k,v in dict_country.items():
    df_final.loc[df_final['country_code']==k,'Country']=v
    
df_final['Country']

0        Austria
1        Austria
2        Austria
3        Austria
4        Austria
          ...
9644    Slovakia
9645    Slovakia
9646    Slovakia
9647    Slovakia
9648    Slovakia
Name: Country, Length: 9649, dtype: object