In [1]:
import pandas as pd

df_final_web=pd.read_parquet(f'../data/processed/df_final_web.parquet')

In [2]:
print(df_final_web.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9649 entries, 0 to 9648
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   uuid                 9649 non-null   object
 1   age                  9649 non-null   int64
 2   gender               9649 non-null   category
 3   dem_has_children     9649 non-null   category
 4   age_group            9649 non-null   category
 5   country_code         9649 non-null   category
 6   rural                9649 non-null   category
 7   dem_education_level  8986 non-null   object
 8   dem_full_time_job    9649 non-null   category
 9   normalized_job_code  5702 non-null   object
 10  awareness            9649 non-null   category
 11  vote                 9649 non-null   category
 12  effect               9649 non-null   category
 13  argumentsfor         9649 non-null   object
 14  argumentsagainst     9649 non-null   object
 15  Country              9649 non-null   object
dtypes: category(9), int64(1), object(6)
memory usage: 5.5 MB
None

In [3]:
df_final_web.nunique()

uuid                   9649
age                      52
gender                    2
dem_has_children          2
age_group                 3
country_code             28
rural                     2
dem_education_level       4
dem_full_time_job         2
normalized_job_code     156
awareness                 4
vote                      5
effect                    9
argumentsfor            674
argumentsagainst        881
Country                  28
dtype: int64

In [4]:
list_unique_jobs=df_final_web['normalized_job_code'].unique().tolist()

In [5]:
import requests

list_uuid=[]
list_title=[]

for x in list_unique_jobs:
    url=f'http://api.dataatwork.org/v1/jobs/{x}'
    response = requests.get(url)
    if list(response.json().keys())[0]=='error':
        pass
    else:
        list_uuid.append(response.json()['uuid'])
        list_title.append(response.json()['title'])

dict_uuid_title=dict(zip(list_uuid,list_title))
len(dict_uuid_title)

156

In [6]:
df_final_web['Job Title']= df_final_web['normalized_job_code']

for k,v in dict_uuid_title.items():
    df_final_web.loc[df_final_web['normalized_job_code']==k,'Job Title']=v

In [7]:
print(df_final_web.info(memory_usage='deep'))
df_final_web.nunique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9649 entries, 0 to 9648
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   uuid                 9649 non-null   object
 1   age                  9649 non-null   int64
 2   gender               9649 non-null   category
 3   dem_has_children     9649 non-null   category
 4   age_group            9649 non-null   category
 5   country_code         9649 non-null   category
 6   rural                9649 non-null   category
 7   dem_education_level  8986 non-null   object
 8   dem_full_time_job    9649 non-null   category
 9   normalized_job_code  5702 non-null   object
 10  awareness            9649 non-null   category
 11  vote                 9649 non-null   category
 12  effect               9649 non-null   category
 13  argumentsfor         9649 non-null   object
 14  argumentsagainst     9649 non-null   object
 15  Country              9649 non-null   object
 16  Job Title            5702 non-null   object
dtypes: category(9), int64(1), object(7)
memory usage: 6.8 MB
None

uuid                   9649
age                      52
gender                    2
dem_has_children          2
age_group                 3
country_code             28
rural                     2
dem_education_level       4
dem_full_time_job         2
normalized_job_code     156
awareness                 4
vote                      5
effect                    9
argumentsfor            674
argumentsagainst        881
Country                  28
Job Title               156
dtype: int64

In [8]:
df_final_web.loc[df_final_web['Job Title'].isnull(),'Job Title']='Unemployed or Part time Job or Inactive'

In [9]:
print(df_final_web.info(memory_usage='deep'))
df_final_web.nunique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9649 entries, 0 to 9648
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   uuid                 9649 non-null   object
 1   age                  9649 non-null   int64
 2   gender               9649 non-null   category
 3   dem_has_children     9649 non-null   category
 4   age_group            9649 non-null   category
 5   country_code         9649 non-null   category
 6   rural                9649 non-null   category
 7   dem_education_level  8986 non-null   object
 8   dem_full_time_job    9649 non-null   category
 9   normalized_job_code  5702 non-null   object
 10  awareness            9649 non-null   category
 11  vote                 9649 non-null   category
 12  effect               9649 non-null   category
 13  argumentsfor         9649 non-null   object
 14  argumentsagainst     9649 non-null   object
 15  Country              9649 non-null   object
 16  Job Title            9649 non-null   object
dtypes: category(9), int64(1), object(7)
memory usage: 7.7 MB
None

uuid                   9649
age                      52
gender                    2
dem_has_children          2
age_group                 3
country_code             28
rural                     2
dem_education_level       4
dem_full_time_job         2
normalized_job_code     156
awareness                 4
vote                      5
effect                    9
argumentsfor            674
argumentsagainst        881
Country                  28
Job Title               157
dtype: int64

In [10]:
df_final_web['Job Title'].value_counts()

Unemployed or Part time Job or Inactive                              3947
Data Officer                                                          101
Automatic Data Processing Customer Liaison (ADP Customer Liaison)      88
Computer or Data Processing Systems Consultant                         88
Data Coordinator                                                       88
                                                                     ...
Data Processing Mechanic                                                6
Clinical Trials Data Coordinator                                        5
Data Reviewer                                                           5
Data Center Manager                                                     4
Database Technician                                                     4
Name: Job Title, Length: 157, dtype: int64

In [11]:
df_final_web.to_parquet('../data/processed/df_final_api.parquet')